.app {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content-container {
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 50rem;
  margin-bottom: 5rem;
  width: 80%;
  overflow: hidden;
}
